html {
  scroll-snap-type: y mandatory;
}
.app_videos{
  position: relative;
  height: 640px;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}
.App{
  display: grid;
  place-items: center;  
  height: 100vh;
  background-color: black;
}
.app_videos::-webkit-scrollbar {
  display: none;
}
.app_videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll; 
}